@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root{
    --color-primary : #587B78;
    --color-secondary: #F6F6F6;
    --color-tertiary: #000000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: Poppins;
    background-color: var(--color-secondary);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
/*=> Header */
.header{
    color: var(--color-secondary);
}
.header__opening{
    background-color: var(--color-primary);
    height: 430px;    
    width: 100%;
    margin-bottom: 80px;
}
.header__opening-tagline{
    text-align: center;
    min-width: 100px;
    margin: 0 auto;
    padding-top: 60px;
}
.header__opening-sentence{
    text-align: center;
    margin-top: 30px;
    font-family: Montserrat;
}
.header__sofa{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 6px);
    z-index: 0;
}
.header__btn{
    display: block;
    padding: 10px 0;
    width: 338px;
    margin: 0 auto 18px auto;
    border-radius: 48px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.header__btn-primary{
    color: var(--color-secondary);
    background-color: rgba(88, 123, 120, 0.90);
    transition: 0.3s;
}
.header__btn-primary:hover{
    background-color: rgba(88, 123, 120, 1);
}
.header__btn-secondary{
    color:var(--color-tertiary);
    border: 1px solid var(--color-primary);
    background-color: rgba(246, 246, 246);
}
.nav{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color-primary);
}
.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}
.nav__logo{
    color: var(--color-secondary);
    font-size: 16px;
}
.nav__cn-dr-down{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform: translate(0,-100%);
    transition: 200ms;
    z-index: 1;
}
.nav__cn-dr-down-items{
    margin: 0 auto;
    margin-top: 70px;
}
.nav__cn-dr-down-item{
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--color-secondary);
    text-align: center;
    display: block;
    text-decoration: none;
}
.nav__cn-dr-down-item:link,
.nav__cn-dr-down-item:visited {
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.hidden{
    transform: translate(0,-100%);
}
.nav__icn-menu{
    position: absolute;
    right: 20px;
    height: 18px;
    cursor: pointer;
    padding: 8px 9px;
    z-index: 1;
}
.nav__icn-menu-top-line{
    top: 0;
}
.nav__icn-menu-middle-line{
    top: 6px;
}
.nav__icn-menu-bottom-line{
    top: 12px;
}
.nav__icn-menu-rotate-kiri{
    top: 6px;
    transform: rotate(45deg);
    transition: 200ms;
}
.nav__icn-menu-rotate-kanan{
    top: 6px;
    transform: rotate(-45deg);
    transition: 200ms;
}
.nav__icn-menu-hidden-middle-line{
    opacity: 0;
    transition: 200ms;
}
.nav__icn-menu-top-line,.nav__icn-menu-middle-line,.nav__icn-menu-bottom-line{
    display: block;
    position:absolute;
    right: 0;
} 

/*=> Main */
.page{
    padding: 60px 27px;
    text-align: center;
}
.page__sentence{
    padding: 35px 0;
    line-height: 150%;
    font-family: Montserrat;
}
.page__img{
    display: block;
    margin: 0 auto;
}
.page__title-underline{
    width:108px;
    background-color: #000000;
    height: 2px;
    border: none;
    margin: 0 auto;
    margin: 15px auto 0 auto;
}
.page__product{
    width: fit-content;
    width: 200px;
    height: 300px;
    padding: 50px 25px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--color-primary);
    position: relative;
}
.page__product-name,.page__product-prize{
    color: var(--color-secondary);
}
.page__card{
    padding: 22px 44px;
    width:fit-content;
    margin: 0 auto;
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    position: relative;
}
.page__card-icn{
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}
.page__card-title{
    font-family: Poppins;
}
.page__card-sentence{
    font-size: 10px;
    font-family: Montserrat;
    margin-top: 5px;
}
/*=> Footer */
.footer{
    padding: 40px 30px;
    background-color: var(--color-primary);
    color: var(--color-secondary);  
}
.footer__items{
    display: inline-block;
    margin-right: 45px;
}
.footer__items-title{
    margin: 22px 0 5px 0;
}
.footer__items-item{
    display: flex;
    text-align: center;
    padding: 10px 10px 10px 0;
    padding-bottom: 10px;
}
.footer__items-item-medsos{
    display: flex;
    align-items: center;
}
.footer__items-item-icn{
    margin-right: 10px;
}
/*=> General */
.tirai{
    transform: translate(0,0);
}
.page__product-buy-now--hover{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245,0.25);
}

.test h5{
    color: aqua;
}
@media only screen and (min-width: 768px){
    /*=> Header */
    .header__opening{
        height: 618px;
    }
    .header__opening-tagline{
        font-size: 39px;
    }
    .header__opening-sentence{
        font-size: 16px;
    }
    .header__sofa{
        width: 500px;
        transform: translate(-50%,123px)
    }
    .header__btn{
        transform: translate(0,-400px);
        width : 109px
    }
    .header__btn-primary{
        background-color: rgba(246, 246, 246, 0.9);
        color : #000000;
    }
    .header__btn-secondary{
        background-color: var(--color-primary);
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
    }
    .header__btn-primary:hover{
        background-color: #F6F6F6;
    }
    .nav{
        padding: 24px 30px;
    }
    .nav__logo{
        flex-grow: 1;
        font-size: 24px;
    }
    .nav__logo__icn-logo{
        width: 25px;
    }
    .nav__cn-dr-down{
        position: static;
        width: unset;
        height: unset;
        background: unset;
        transform: translate(0,0);
    }
    .nav__cn-dr-down-items{
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .nav__cn-dr-down-item{
        font-size: 20px;
        margin-bottom: 0;
        background: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color:unset;
        margin-left: 72px;
        display: inline-block;
    }
    .hidden{
        transform: translate(0,-220%);
    }
    .nav__icn-menu{
        display: none;
    }
    .page__title{
        font-size: 39px;
    }
    .page__sentence{
        font-size: 16px;
    }
    .page__img{
        width: 400px;
    }
    .page__title-underline{
        margin-bottom: 80px;
    }
    .page__product{
        display: inline-block;
        margin: 0 20px 20px 0;
    }
    .page__product-img{
        height: 150px;
    }
    .page__card{
        padding: 41px 86px;
    }
    .page__card-title{
        font-size: 16px;
    }
    .page__card-icn{
        width: 30px;
    }
    /*=> Footer */
    .footer{
        padding: 60px 50px;
    }
    .footer__items{
        margin-right: 100px;
    }
    .footer__title{
        font-size: 39px;
    }
    .footer__items-title{
        font-size: 24px;
    }
    .footer__items-item{
        font-size: 16px;
    }
}
@media only screen and (min-width : 1024px){
    .page__product{
        display: inline-block;
        margin: 0 40px 40px 0;
    }
    .page__card{
        display: inline-block;
        margin: 0 20px 20px 0;
    }
}